apiVersion: v1
kind: Service
metadata:
  name: getting-started-nodejs-service
  labels:
    app: getting-started-nodejs
spec:
  ports:
  - port: 7070
    targetPort: 8080
  selector:
    app: getting-started-nodejs
  type: LoadBalancer
